/* .mycards:hover
{
box-shadow: 10,10,10px,10px red;
cursor: pointer;
background-color: rgb(0, 0, 0);
color: #ddd;
transform: scale(1.5);
transition: transform 0.2s ease-in-out;

} */

.who
{
    background-image: url("../img//logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 50%;
    
   
    
}
/* .mycards
{
    border: 4px solid;
    border-radius: 20px;
    border-color: black;
    box-shadow: 10px 10px 10px 10px rgba(255, 255, 255, 0.612),
    -10px -10px 10px 10px rgba(255, 255, 255, 0.623)

}
 */


.container-card{
    width: calc((100% - 10rem) / 3);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.panel {
  height: 390px;
  width: 350px;
  position: relative;
}
.panel:hover .card {
  filter: blur(1.5px);
}
.panel:hover .card1 {
  background-size: 215% 135%;
}
.panel:hover .card2 {
  background-size: 115% 115%;
}
.panel:hover .card3 {
  background-size: 155% 115%;
}
.panel:hover .title {
  color: rgba(255, 255, 255, 0.2);
}
/* .panel:hover .border {
  border: 1px solid white;
} */
.panel:hover .slide {
  bottom: 0px;
}
.panel:hover .ring:before,
.panel:hover .ring:after {
  transform: translateX(-50%) translateY(-50%) rotate(310deg);
}

.ring,
.card,
.border,
.line {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ring {
  color: #f2f1ff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 320px;
}

.title-main{
    font-size: 30px !important;
}

.card {
  background: #0b1128;
  background-size: contain;
  position: relative;
  transition: all 1s;
  height: 390px;
  width: 350px;
  /* border: 1px solid white; */
}

.card1 {
  background-image: url("../img/ss.png");
  background-repeat: no-repeat;
  
  background-size: 100% 250px;
}

.card2 {
  background-image: url("../img/ss2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 250px;
}

.card3 {
  background-image: url("../img/ss3.png");
  background-repeat: no-repeat;
  background-size: 100% 250px;
}
.card4 {
    background-image: url("../img/bluhome.png");
    background-repeat: no-repeat;
    background-size: 100% 250px;
  }
  
  .card5 {
    background-image: url("../img/cisco.jpg");
    background-repeat: no-repeat;
    background-size: 100% 250px;
  }
  
  .card6 {
    background-image: url("../img/rotate.gif");
    background-repeat: no-repeat;
    background-size: 100% 250px;
  }

.ring:before,
.ring:after {
  content: "";
  padding: 0.7em 0.4em;
  position: absolute;
  left: 50%;
  width: 115%;
  top: 50%;
  display: block;
  border: 5px solid #50c9c3;
  border-radius: 50%;
  transition: transform 1s;
  transform: translateX(-50%) translateY(-50%) rotate(50deg);
}

.ring:before {
  border-color: #312be1 #000000 rgba(255, 255, 255, 0) rgba(0, 0, 0, 0);
  z-index: -1;
}

.ring:after {
  border-color: rgba(251, 244, 244, 0) rgb(235, 224, 224) #2600fd #ffffff;
}

.title {
  font-size: 36px;
  font-weight: 700;
  transition: all 1s;
  top: 0;
}

.para {
  bottom: 0;
  font-size: 16px;
  font-family: "Raleway";
  /* padding: 20px; */
  padding-top: 18px;
  margin: 0;
  text-align: center;
}

.border-card {
  position: absolute;
  /* border: 1px solid rgba(255, 255, 255, 0.5); */
  height: 350px;
  width: 390px;
  transition: border 1s;
  overflow: hidden;
}

.slide {
  height: 360px;
  width: 390px;
  position: absolute;
  border: 1px solid black;
  bottom: -350px;
  background: rgba(0, 0, 0, 0.8);
  transition: bottom 1s;
  flex-direction: column;
  z-index: 100;
}

.fa-plane {
  font-size: 16px;
}

.tech ul li{
    text-align: left;
}

.tech .para{
    padding-bottom: 0;
}
h6.para{
    font-size: 2rem;
}

.btn{
    font-size: 18px !important;
}

.lang{
    margin-top: -4px;
}